.header {
  margin-top: 20px;
}

.postcreateform__cancel {
  margin-left: 5px;
}

.postlist__alert {
  margin-top: 20px;
}

.postlist__list {
  margin-top: 20px;
}

.postshow__content {
  margin-top: 20px;
}

.postshow__delete {
  margin-top: 20px;
}
